* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

.header {
  margin-top: 50px;
}

.nav {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 80%;
  margin-right: 20px;
}

.logo-text {
  font-size: 45px;
  font-weight: 700;
}
.logo-g {
  color: #ff42a5;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu a,
.menu .social {
  text-decoration: none;
  color: #3c354f;
  font-size: 18px;
  font-weight: 500;
  margin: 0 15px;
}

.social {
  background-color: rgba(11, 2, 35, 0.1);
  padding: 15px;
  border-radius: 8px;
  align-items: center;
  display: flex;
  align-items: center;
}

.social .fa-brands {
  font-size: 30px;
  /* margin-left: 10px; */
}

.social .fa-youtube {
  color: red;
}

/* banner section starts */

.banner {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-content {
  width: 50%;
  background-image: url("./images/Group\ 14.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 180px 0 180px 150px;
}
.banner-sub-heading {
  color: #0b0223;
  font-size: 30px;
  font-weight: 600;
}

.banner-heading {
  font-size: 60px;
  font-weight: 800;
  background-image: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  color: transparent;
  -webkit-background-clip: text;
}

.banner-text {
  color: #534c64;
  font-weight: 500;
  margin-top: 20px;
}

.icon {
  margin-right: 10px;
}

.insta-play {
  border: 1px solid #f948b2;
  padding: 3px 7px;
  border-radius: 50%;
  color: #f948b2;
}

.download,
.user {
  color: #f948b2;
}

.btn {
  margin-top: 30px;
  margin-right: 10px;
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
  color: #fff;
}

.btn-pink {
  background-color: #ff42a5;
}

.btn-blue {
  background-color: #4ec5f7;
}

.banner-image {
  width: 50%;
  margin-right: 80px;
}

.banner-image img {
  width: 100%;
  margin: 0 auto;
}

/* gamer section */

.gamer {
  background-image: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.gamer-image {
  margin-left: 90px;
  margin-right: 20px;
}

.gamer-image img {
  width: 100%;
}

.gamer-content {
  text-align: right;
  margin-left: 20px;
  margin-right: 80px;
}

.gamer-header {
  font-size: 35px;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-text {
  color: #534c64;
  line-height: 30px;
  width: 490px;
}

.purpose {
  color: #534c64;
  font-weight: 500;
  margin-top: 20px;
}

.message {
  color: #534c64;
  font-size: 24px;
  font-weight: 700;
  line-height: 45px;
}

/* games cards */

.online-games {
  text-align: center;
}

.online-games-title {
  color: #0b0223;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 15px;
}

.funny {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 35px;
  font-weight: 700;
}

.online-games-text {
  color: #534c64;
}

.games-card-container {
  width: 80%;
  margin: 50px auto;
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
}

.game-card-image {
  width: 280px;
  position: relative;
}

.game-card-image img {
  width: 100%;
  display: block;
  margin: auto;
}

.content {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: 0.5s;
  border-radius: 10px;
}

.content:hover {
  opacity: 1;
}

.play {
  background: #fff;
  padding: 5px 7px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.watch {
  color: #f948b2;
  font-weight: 400;
}
.card-description {
  text-align: left;
  width: 280px;
  color: #534c64;
  line-height: 24px;
  margin-top: 10px;
}

/* instant play section */

.instant-play-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 180px;
}

.insta-play-content {
  text-align: right;
}

.insta-heading {
  font-size: 35px;
  font-weight: 700;
}

.pink {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.insta-text {
  width: 320px;
  margin-top: 20px;
}

.insta-play-image {
  width: 500px;
  position: relative;
}

.insta-play-image .img-big {
  width: 100%;
}

.small-image {
  width: 250px;
  position: absolute;
  bottom: -80px;
  left: -100px;
}

.small-image img {
  width: 100%;
}


